.footer{
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    gap: 16px; ;
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}